
<h1> Barraquinha do Edu, Da uma olhada nos produtos !</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="./../../../assets/img/2301.w018.n002.1592A.p30.1592.jpg" class="img-fluid d-block w-75 justify-content-center" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./../../../assets/img/2301.w018.n002.1592A.p30.1592.jpg" class="img-fluid d-block w-75 justify-content-cente" alt="...">
    </div>
  </div>
</div>

<h1 class=""my-3> Avalie um Produto</h1>
<div class="card shadow">
  <form class="m-3">
    <div class="row">
      <div class ="col-md-12">
        <div class ="form-group">
          <label for="nome">Nome do Produto: </label>
          <input type="text" class="form-control" placeholder="Digite o nome do Produto">

        </div>
      </div>
    </div> <!-- Fim row-->

      <div class="col-md=6">
        <div class="form-group">
        <label for="validade"> Descreva Sobre</label>
        <input
        type="text"
        class="form-control"
        placeholder="'Fale um Pouco">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-default" routerLink="/produtos">
          voltar
        </button>
        <button class="btn btn-success float-right">
          salvar
        </button>
      </div>
    </div>

    <img src="./../../../assets/img/2301.w018.n002.1592A.p30.1592.jpg" class="img-fluid d-block w-75 justify-content-center">


  </form>
</div>

