
<h1> Barraquinha do Edu, Da uma olhada nos produtos !</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="assets/img/hamburguer.jpg" class="img-fluid d-block w-75 justify-content-center" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/2301.w018.n002.1592A.p30.1592.jpg" class="img-fluid d-block w-75 justify-content-cente" alt="...">
    </div>
  </div>
</div>
